<a href="https://colab.research.google.com/github/giseldo/lab_python/blob/master/os2_lab_01A_port.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Autores: Giseldo Neo e José Lucas

# Laboratório 1: Introdução à Análise de Dados

Algumas pessoas definem a Estatística como a ciência que tem por objetivo transformar informação em conhecimento. O primeiro passo no processo é sumarizar e descrever a informação bruta - os dados. Neste laboratório, você obterá novos conhecimento sobre saúde pública gerando sumários gráficos e numéricos de um conjunto de dados coletados pelo Centro para o Controle e Prevenção de Doenças (“Centers for Disease Control and Prevention”, CDC). Como esse conjunto de dados é grande, ao longo do caminho você também aprenderá as habilidades indispensáveis de processamento de dados e organização de subconjuntos.

# Preparações:

O Sistema de Monitoramento de Fatores de Risco Comportamental (“Behavioral Risk Factor Surveillance System”, BRFSS) é uma pesquisa anual realizado por telefone com 350.000 pessoas nos Estados Unidos. Como seu nome implica, o BRFSS foi desenvolvido para identificar fatores de risco na população adulta e relatar tendências emergentes na saúde. Por exemplo, os respondentes são indagados sobre sua dieta e atividades
físicas semanais, seu diagnóstico de HIV/AIDS, uso provável de tabaco, e mesmo seu nível de cobertura por planos de saúde. O website do BRFSS (http://www.cdc.gov/brfss) contém uma descrição completa desta pesquisa, incluindo as questões de pesquisa que motivaram o estudo e muitos resultados interessantes derivados dos dados.
Nós nos focaremos numa amostra aleatória de 20.000 pessoas do BRFSS conduzido em 2000. Ainda que existam mais de 200 variáveis neste conjunto de dados, nós trabalharemos com um subconjunto menor. Começamos importando os dados das 20.000 observações para dentro do Python. Entre com o seguinte comando.

In [0]:
import pandas as pd
dados_cdc = pd.read_csv("https://raw.githubusercontent.com/giseldo/lab_python/master/arquivo.cvs")

O conjunto de dados **dados_cdc** que aparece em seu espaço de trabalho é uma matriz de dados, com cada linha representando um caso e cada coluna representando uma variável. O Python chama este formato de dados de data frame, que será um termo utilizado ao longo dos laboratórios. Para visualizar o nome das variáveis, digite o comando:

In [0]:
dados_cdc.columns

Index(['genhlth', 'exerany', 'hlthplan', 'smoke100', 'height', 'weight',
       'wtdesire', 'age', 'gender'],
      dtype='object')

Este comando retorna os nomes **genhlth**, **exerany**, **hlthplan**, **smoke100**, **height**, **weight**, **wtdesire**, **age** e **gender**. Cada uma dessas variáveis corresponde a uma questão que foi feita na pesquisa. Por exemplo, para **genhlth**, os respondentes foram indagados sobre sua saúde geral, respondendo excelente, muito bom, bom, razoável ou ruim. A variável **exerany** indica se o respondente se exercitou no último mês (1) ou não (0). Da mesma forma, **hlthplan** indica se o respondente tem alguma forma de cobertura (1) ou não (0). A variável **smoke100** indica se o respondente fumou pelo menos 100 cigarros ao longo da vida. As outras variáveis registram a altura (**height**) em polegadas, o peso (**weight**) em libras, bem como o peso desejado (**wtdesire**), idade (**age**) em anos, e gênero (**gender**)

 Nós podemos dar uma olhada nas primeiras entradas (linhas) de nossos dados com o comando

In [25]:
dados_cdc.head()

,genhlth,exerany,hlthplan,smoke100,height,weight,wtdesire,age,gender
0,good,0,1,0,70,175,175,77,m
1,good,0,1,1,64,125,115,33,f
2,good,1,1,1,60,105,105,49,f
3,good,1,1,0,66,132,124,42,f
4,very good,0,1,0,61,150,130,55,f

e, similarmente, podemos verificar as últimas digitando

In [0]:
dados_cdc.tail()

,genhlth,exerany,hlthplan,smoke100,height,weight,wtdesire,age,gender
19995,good,1,1,0,66,215,140,23,f
19996,excellent,0,1,0,73,200,185,35,m
19997,poor,0,1,0,65,216,150,57,f
19998,good,1,1,0,67,165,165,81,f
19999,good,1,1,1,69,170,165,83,m

Você também pode verificar toda a base de dados de uma vez só digitando **dados_cdc**, mas isso pode não ser muito sábio neste contexto. Sabemos que **dados_cdc** tem muitos casos, portanto verificar o conjunto de dados inteiro significa inundar sua tela. É melhor dar pequenas espiadas nos dados utilizando head, tail, ou as técnicas de construção de subconjunto que você aprenderá nas próximas seções.

### Dicas:
####Referência da API do Pandas para referência
https://pandas.pydata.org/pandas-docs/stable/reference/

#### Resumo dos comandos do Pandas 
https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf

#### Artigo com infomações sobre o Pandas
https://medium.com/data-hackers/uma-introdu%C3%A7%C3%A3o-simples-ao-pandas-1e15eea37fa1

### Exercício 1 
Há quantos casos neste conjunto de dados? Quantas variáveis (ou atributos, ou colunas)? Para cada variável, identifique seu tipo de dado (p.e., categorial, discreta).

Dica: Procure um comando na Referência da API do Pandas que exiba a quantidade de casos e de variáveis ao mesmo tempo
### (GISELDO: Colocar quais os tipos e uma referência para os tipos)

### Resposta 1 (GISELDO: Não sei se devemos publicar as respostas)
São 20.000 casos e 9 variáveis. Pode ser visto com o comando **dados_cdc.shape**.

**genhlth**, **exerany**,	**hlthplan**,	**smoke100** e 	**gender** são categoricas. **height**,	**weight**,	**wtdesire** e 	**age** são contínuas.

In [0]:
dados_cdc.shape

(20000, 9)

# Sumários e Tabelas

# New Section

# New Section